# virtual env
.venv/

# caches
__pycache__/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
*.pyc
.env

# editor/OS junk
.vscode/
Thumbs.db
.DS_Store

# MongoDB data and logs
mongoDB/data/
*.log
*.lock

# Local database files (MariaDB / SQLite 등)
db/
!db/init.sql
mariadb_data/
qdrant_storage/
data/*.parquet
data/*.csv
data/*.json
data/*.xml
papers/*.pdf

*.db
*.sqlite
*.sqlite3
